//SVG images and Internet Explorer
//In Internet Explorer 10 and 11, SVG images with .img-fluid are disproportionately sized. To fix this, add width: 100%;
//or .w-100 where necessary. This fix improperly sizes other image formats, so Bootstrap doesn’t apply it automatically.
/*html.ie .img-fluid[src$=".svg"],
html.ie .img-fluid[src*=".svg?"] {
  width: 100%;
}*/

//https://stackoverflow.com/questions/27970520/svg-with-width-height-doesnt-scale-on-ie9-10-11
//https://stackoverflow.com/a/59209764/14314001
/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%;
  }
}*/

//IE9 needs conditional override of 'filter' to 'none'
html.ie9 body {
  filter: none !important;
}
